$blue: #40a9ff;
$color: #333;
$border-color: #d9d9d9;
.kui-tabs {
  &__nav {
    position: relative;
    display: flex;
    color: $color;
    border-bottom: 1px solid $border-color;
    &-item {
      padding: 8px 0;
      margin: 0 16px;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }
      &.active {
        color: $blue;
      }
    }
    &__active-bar {
      position: absolute;
      height: 2px;
      background: $blue;
      left: 0;
      bottom: -1px;
      width: 100px;
      transition: width .3s,left .3s,right .3s;
    }
  }
  &__content {
    padding: 8px 0;
  }
}
