$kui-button-radius: 4px;
.kui-button-group {
  display: inline-flex;
  > .kui-button {
    border-radius: 0;
    &:first-child {
      border-top-left-radius: $kui-button-radius;
      border-bottom-left-radius: $kui-button-radius;
    }
    &:last-child {
      border-top-right-radius: $kui-button-radius;
      border-bottom-right-radius: $kui-button-radius;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
    &:hover, &:focus {
      z-index: 1;
    }
  }
}
