$color1: #D2D3C9;
$color1: #0E918C;
$color1: #F6830F;
$color1: #BB2205;

$color2: #9AD3BC;
$color2: #F3EAC2;
$color2: #F5B461;
$color2: #EC524B;

$color3: #9DDAC6;
$color3: #C2FFD9;
$color3: #FFD371;
$color3: #FF4848;

$color4: #053742;
$color4: #39A2DB;
$color4: #A2DBFA;
$color4: #E8F0F2;
